*{
    box-sizing: border-box;
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

body{
    background-image: url("../../static/images/cherry_blossom.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0px;
    min-height: 100%;
    width: 100%;
}
