body {
    display: flex;
}

#outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    border: 1px solid red;
    padding-right: 10rem;
}

#details-wrapper {
    background-color: color-mix(in srgb, #d3aca6 50%, transparent 50%);
    padding: 5rem 0 5rem 0;
    font-size: 1.2rem;
}

#synopsis {
    font-weight: 600;
}
