body {
    display: flex;
}

#outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    padding-right: 10rem;
}

#details-wrapper {
    border: 1rem inset rgb(99, 54, 54);
    background-color: color-mix(in srgb, #ba9089 60%, transparent 40%);
    margin: 5rem;
    font-size: 1rem;
    max-width: 90%;
}

#details-right{
    max-height: 20rem;
}
.detail-item{
    max-width: fit-content;
}
#cover-image{
    max-height: 425px;
}

#synopsis {
    font-weight: 600;
}

#genre-list{
    list-style: none;
}
