body{
    display:flex;
}

#add-form-wrapper{
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.errorlist{
    display: none;
}

.add-form-inner-wrapper{
    margin: 5rem 0 5rem 0;
    border: 2px black double;
    background-color: color-mix(in srgb, #d3aca6 40%, transparent 60%);
    padding: 3rem;
}
label{
    display: none;
}

