#manga-info-wrapper{
    margin: 3rem;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

#manga-info-wrapper img{
    width: 10rem;
    height: 15rem;
}

.details-div{
    max-width: 10rem;
}

.image-wrapper{
    max-height: 15rem;
}

#row{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}


