body{
    display: flex;
}

#manga-info-wrapper, #anime-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}


#search-input-div {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}
#search-input-div #id_searchText {
    margin-top: 1.5rem;
    width: 25rem;
}

#image-row{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 3rem;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color-mix(in srgb, #ffffff 40%, transparent 60%);
    height: 5.5rem;
    width: 12rem;
    padding:1rem;
    border-radius: 5%;
}
#back-button-wrapper{
    width: 100vw;
    display: flex;
    justify-content: flex-start; 
    margin-left: 3rem;
    
}
#back-button-wrapper:hover{
    cursor: pointer;

}

#back-button-wrapper span{
    color: #ffffff;
    font-weight:600;
    mix-blend-mode: difference;
}
#back-button-wrapper img{
    mix-blend-mode: difference;
}



