{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
<div id="nav-wrapper" class="card">
    <ul id="nav-list" class="d-flex flex-column gap-3">
        <li class="nav-list-item">
            <a href="/">
                アニメ好き<br />
                ANIME<br />SUKI
            </a>
        </li>
        <li class="nav-list-item">
            <a href="/"> Home</a>
        </li>
        <li class="nav-list-item">
            <a href="/search_anime"> Anime</a>
        </li>
        <li class="nav-list-item">
            <a href="/search_manga"> Manga</a>
        </li>
        <li class="nav-list-item">
            <a href="news_letter"> News Letter</a>
        </li>
    </ul>
</div>
