{% include "partials/base.html" %}{% load static%}
<link rel="stylesheet" href="{% static 'css/landing.css' %}" />
<title>{% block title %}アニメ好き Anime Suki{% endblock %}</title>
<div id="outer-cont" class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-center">Anime to look out for!</h2><br />
    <div class="d-flex gap-5">
                {% for data in anime%}
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <a href="" class="d-flex flex-column justify-content-center align-items-center">
                        <span class="title">
                            {{data.title}}
                        </span><br />
                        <div>
                            <img src="{{data.image}}"/>
                        </div>
                    </a>
                </div>
                    {% endfor %}
    </div>
    <h2 class="text-center mt-4">manga to look out for!</h2><br />
    <div class="d-flex gap-5">
                {% for data in manga%}
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <a href="" class="d-flex flex-column justify-content-center align-items-center">
                            <span class="title text-center">
                                {{data.title}}
                            </span><br />
                            <div>
                                <img src="{{data.picture_url}}"/>
                            </div>
                        </a>
                    </div>
                {% endfor %}
    </div>
    <div>top manga</div>
</div>
