{% include "partials/base.html" %} {% load static %}
<link rel="stylesheet" href="{% static 'css/search.css' %}" />
<title>{% block title %}アニメ好き Search Manga{% endblock %}</title>
{% block content %}
<div id="manga-info-wrapper">
    <div>
        <form method="POST" enctype="multipart/form-data">
        <div id="search-input-div">{% csrf_token %} {{ form.as_p}}</div>
        </form>
        {% if response %}
        <div class="arrow-div" onclick="history.back()">
            <img id="back-arrow" src="{% static 'images/back_arrow.png' %}" />
            <span>BACK</span>
        </div>
        <div id="inner-wrapper">
            {% if response.banner_div is not none %}
            <div class="banner-image-div">
                <img class="banner-image" src="{{response.banner_image}}" width="100%"/>
            </div>
            {% else %}
            <div class="no-banner">
            </div>
            {%endif%}
            <div>
                <h4 class="text-center fw-bold">
                    {{response.name_english}}
                </h4>
            </div>
            <div class="d-flex justify-content-even gap-3 p-3">
                <div>
                    <img src="{{response.cover_image}}"/>
                </div>
                <div>
                    {%if response.chapters %}
                        <span class="fw-bold">Chapters: </span><span>{{response.chapters}}</span><br/>
                    {% endif%}
                    {%if response.volumes %}
                        <span class="fw-bold">Volumes: </span><span>{{response.volumes}}</span><br/>
                    {% endif%}
                    <span class="fw-bold">Genre :</span>
                    <ul class="genre-list">
                        {% for genre in response.genres%}
                            <li class="fw-medium">{{genre}}</li>
                        {% endfor%}
                    </ul>
                    {% if response.average_score is not none%}
                        <span class="fw-bold">Avg rating: </span><span>{{response.average_score}}</span>
                    {% endif%}
                </div>
                <div>
                    <span class="description">{{response.desc}}</span>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
